.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: filter 0.1s;
  width: 100%;
}

.container.dialog-is-visible {
  filter: blur(20px);
  transition: filter 0.3s;
}