.accountSummary {
  position: relative;
  text-align: center;
}

.accountName {
  color: #363D47;
  font-size: 22px;
  font-size: calc(17px + 14 * ((100vw - 320px) / 200));
  font-weight: 600;
  margin-bottom: 2px;
}

.accountNumber {
  color: #8A959B;
  font-size: calc(15px + 10 * ((100vw - 320px) / 200));
  font-weight: 300;
  margin-bottom: 25px;
}

.accountBalance {
  background: #26A4E9;
  border-radius: 50%;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 80vw;
  justify-content: center;
  margin-bottom: 10vw;
  width: 80vw;
}

.accountBalanceLabel {
  font-size: 18px;
  font-size: calc(15px + 10 * ((100vw - 320px) / 200));
  font-weight: 400;
}

.accountBalanceValue {
  font-size: 64px;
  font-size: calc(48px + 50 * ((100vw - 320px) / 200));
}

.accountWeeklySpending {
  align-items: center;
  background: #363D47;
  border-radius: 50%;
  bottom: 0;
  color: #fff;
  display: flex;
  height: 35vw;
  justify-content: center;
  position: absolute;
  right: 0;
  width: 35vw;
}

.accountWeeklySpendingLabel {
  font-size: calc(14px + 10 * ((100vw - 320px) / 200));
}

.accountWeeklySpendingValue {
  font-size: calc(18px + 12 * ((100vw - 320px) / 200));
}