.header {
  background: #fff;
  display: flex;
  flex: 0 0 60px;
}

.headerLeft {
  flex: 1 1 auto;
  padding: 30px 30px;
}

.headerRight {
  flex: 1 1 auto;
  padding: 30px 30px;
  text-align: right;
}