.dialogWrapper {
  background: rgba(54, 61, 71, 0.2);
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transform: translateY(100%);
  transition: opacity 0.15s cubic-bezier(0,.29,.3,.95) 0s;
  width: 100%;
}

.dialogWrapper.is-visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.15s ease-in 0.05s;
}

.dialog {
  background: #fff;
  bottom: 0;
  border-radius: 10px 10px 0 0;
  left: 0;
  max-height: 80%;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transform: translateY(40px);
  transition: transform 0.2s cubic-bezier(0,.29,.3,.95) 0.04s, opacity 0.16s 0s;
  width: 100%;
}

.dialogWrapper.is-visible .dialog {
  opacity: 1;
  transform: translateY(0);
}

.dialogContainer {
  display: flex;
  flex-direction: column;
}

.dialogHeader {
  flex: 0 0 auto;
}

.dialogTitle {
  border-bottom: 1px solid #ddd;
  font-size: 22px;
  font-weight: normal;
  padding: 20px 20px;
  text-align: center;
}

.dialogBody {
  flex: 1 1 auto;
  overflow: auto;
}

.sectionTitle {
  color: #8E999F;
  padding: 16px 24px 0 24px;
}

.sectionList {
  padding: 20px;
}